:root
{
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
--White: hsl(0, 0%, 100%);
--VeryLightGrayishBlue: hsl(210, 60%, 98%);
--LightGrayishBlue1: hsl(211, 68%, 94%);
--LightGrayishBlue2: hsl(205, 33%, 90%);
--GrayishBlue: hsl(219, 14%, 63%);
--DarkGrayishBlue: hsl(219, 12%, 42%);
--VeryDarkBlue: hsl(224, 21%, 14%);
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*
{
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  display: grid;
  place-content: center;
}
.App
{width: 450px;}
.header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header p:hover
{
  cursor: pointer;
  color: var(--Blue);
}
p
{
  color:var(--DarkGrayishBlue) ;
  font-size: 16px;
}
.notifi
{
  display: flex;
}
.container
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.not
{
  display: flex;
  align-items: center;
  background-color: var(--LightGrayishBlue1);
  border-radius: 1rem;
  padding: 10px;
  gap: 10px;
}
.text
{
  display: flex;
  flex-direction: column;
  gap:20px;
}
#count
{
  color: var(--White);
  background-color: var(--Blue);
  padding:0 15px;
  border-radius: 8px;
}
.App
{
 
  padding: 20px;
}
.comment
{
  
  background-color: var(--GrayishBlue);
  border-radius: 5px;
  padding:20px;
}
span:hover {
  font-weight: normal;
  color: var(--Blue);
}
.name
{
  color: black;
  font-weight: bolder;
}
@media (width>700px) {
 .App
 {width: 700px;} 
}